/* =Fonts
-------------------------------------------------------------- */
@font-face {
  font-family: 'kulturista-regular';
  src: url('../fonts/KULTURISTA MEDIUM.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kulturista-bold';
  src: url('../fonts/KULTURISTA BOLD.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kulturista-semi-bold';
  src: url('../fonts/KULTURISTA SEMIBOLD.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir';
  src: url('../fonts/Avenir.ttc');
  font-weight: normal;
  font-style: normal;
}

/* =Base
-------------------------------------------------------------- */

* {
  font-family: 'kulturista-regular', Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: white;
}


/* =Header
-------------------------------------------------------------- */

header {
  padding-top: 50px;
}

/* =Body
-------------------------------------------------------------- */

body {
  padding: none;
  background: rgba(0,0,0,0.3) !important;
}


.logo-img {
  width: 50%;
  max-width: 500px;
  min-width: 300px;
}

.logo {
  text-align: center;
}

#index {
  text-align: center;
}

.background-image {
  z-index: -1;
  background: rgb(0,0,0,0.1);
  background: no-repeat center center fixed; 
  background-image: url('../images/background-3.jpg');
  background-size: cover;
  
  /*background-attachment: fixed;*/
  position: fixed;
  top: 0;
  min-width: 100%;
  
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.switch {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid black;
  padding: 2px;
  cursor: pointer;
}

.message {
  padding: 60px 30px 0 30px;
}

.first-message {
  font-family: 'kulturista-semi-bold', Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}

.icons {
  padding-top: 50px;
  text-align: initial;
  width: 90%;
  min-width: 800px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.icons div {
  display: inline-block;
}


.icons .icon-1,
.icons .icon-2,
.icons .icon-3,
.icons .icon-4,
.icons .icon-5 {
  vertical-align: top;
  width: 19%;
  text-align: center;
}

.icons .icon-text {
  padding: 15px 2px 0 2px;

}

.icons .icon-title {
  font-family: 'kulturista-semi-bold', Helvetica, sans-serif;
  color: #14a2db;
  font-size: 16px;
  display: block;
}

.icons .icon-description {
  font-family: 'avenir', Helvetica, sans-serif;
  display: block;
  font-size: 14px;
}

.icons img {
  height: 60px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.email-section {
  padding: 70px 20px 0 20px;
}

.email-section span {
  font-family: 'kulturista-semi-bold', Helvetica, sans-serif;
  font-size: 18px;

}

.email-section .input-group {
  padding: 50px 0 35px 0;
  width: 100%;
}


.input-group input {
  color: #565a5c;
  outline: none;
  height: 40px;
  width: 40%;
  max-width: 350px;
  padding-left: 10px;
  /*border-top-left-radius: 1px;*/
  /*border-bottom-left-radius: 1px;*/
  border: none;
  -webkit-border-radius: 0;
}

.input-group button {
  font-family: 'kulturista-semi-bold', Helvetica, sans-serif;
  width: 180px;
  height: 40px;
  border: none;
  color: white;
  background-color: #14a2db;
}

.btn-facebook {
  border: none !important;
}

.btn-facebook i {
  top: 1px !important; /* canceling out positioning due to removing border */
  color: #fff;
  border: none;
}

.input-group button:active {
  opacity: 0.9;
  outline: none;
}
/*
#circle {
  position:absolute;
  left:0;
  right:0;
  margin:50px auto;
  width:150px;
}

#circle {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.circle {
  padding: 35px;
  border: 5px solid transparent;
    border-radius:50%;
  -webkit-animation: left 1s linear infinite;
  animation: left 1s linear infinite;
}
  
.one {width:180px;
      height:150px;
      -webkit-animation-delay:.3s;
  }
.two {-webkit-animation-delay:.2s;
animation-delay:.2s;}
.three {-webkit-animation-delay:.1s;
animation-delay:.1s;}


@-webkit-keyframes left{
  0% { border-top: 4px solid rgba(0,0,0,0.1);}
  100% {border-top: 4px solid #00b7f2;}
}
  @keyframes left{
  0% { border-top: 4px solid rgba(0,0,0,0.1);}
  100% {border-top: 4px solid #00b7f2;}
  
  @-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
}
*/

/* =Footer
-------------------------------------------------------------- */

footer {
  padding-bottom: 60px;
}

/* =Tablet
------------------------------------------------------------ */
@media only screen and (max-width: 800px) {
  
  .icons {
    padding-top: 60px;
    /*text-align: initial;*/
    width: 90%;
    min-width: 0px;
  }

  .icons .icon-1,
  .icons .icon-2,
  .icons .icon-3,
  .icons .icon-4,
  .icons .icon-5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }

  .icons .icon-1,
  .icons .icon-2,
  .icons .icon-3,
  .icons .icon-4 {
    padding-bottom: 40px;
  }



}

/* =Mobile
------------------------------------------------------------ */
@media only screen and (max-width: 400px) {
  
  .email-section .input-group {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .input-group input {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  .input-group button {
    width: 100%;
  }


  
}

