/* =Fonts
-------------------------------------------------------------- */
@font-face {
  font-family: 'kulturista-regular';
  src: url('../fonts/KULTURISTA MEDIUM.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kulturista-bold';
  src: url('../fonts/KULTURISTA BOLD.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kulturista-semi-bold';
  src: url('../fonts/KULTURISTA SEMIBOLD.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir';
  src: url('../fonts/Avenir.ttc');
  font-weight: normal;
  font-style: normal;
}

/* =Base
-------------------------------------------------------------- */

* {
  font-family: 'kulturista-regular', Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: white;
}


/* =Header
-------------------------------------------------------------- */

header {
  padding-top: 40px;
}

/* =Body
-------------------------------------------------------------- */

body {
  padding: none;
  background: rgba(0,0,0,0.3) !important;
}


.logo-img {
  width: 40%;
  max-width: 400px;
  min-width: 300px;
}

.logo {
  text-align: center;
}

#index {
  text-align: center;
}

.background-image {
  z-index: -1;
  background: rgb(0,0,0,0.1);
  background: no-repeat center center fixed; 
  background-image: url('../images/background-3.jpg');
  background-size: cover;
  
  /*background-attachment: fixed;*/
  position: fixed;
  top: 0;
  min-width: 100%;
  
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.switch {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid black;
  padding: 2px;
  cursor: pointer;
}

.message {
  padding: 50px 30px 0 30px;
}

.first-message {
  font-family: 'kulturista-semi-bold', Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 22px;
}

.icons {
  padding-top: 50px;
  text-align: initial;
  width: 80%;
  min-width: 800px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.icons div {
  display: inline-block;
}


.icons .icon-1,
.icons .icon-2,
.icons .icon-3,
.icons .icon-4,
.icons .icon-5 {
  vertical-align: top;
  width: 17%;
  text-align: center;
}

.icons .icon-1,
.icons .icon-2,
.icons .icon-3,
.icons .icon-4 {
  margin-right: 30px;
}

.icons .icon-text {
  padding: 15px 2px 0 2px;

}

.icons .icon-title {
  font-family: 'kulturista-semi-bold', Helvetica, sans-serif;
  color: #14a2db;
  font-size: 16px;
  display: block;
}

.icons .icon-description {
  font-family: 'avenir', Helvetica, sans-serif;
  display: none; /* temporary due to client's request */
  /*display: block;*/
  font-size: 14px;
}

.icons img {
  height: 60px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.email-section {
  padding: 50px 20px 0 20px;
}

.email-section span {
  font-family: 'kulturista-semi-bold', Helvetica, sans-serif;
  font-size: 18px;

}

.email-section .input-group {
  padding: 50px 0 35px 0;
  width: 100%;
}


.input-group input {
  color: #565a5c;
  outline: none;
  height: 40px;
  width: 40%;
  max-width: 350px;
  padding-left: 10px;
  border: none;
  -webkit-border-radius: 0;
}

.input-group button {
  font-family: 'kulturista-semi-bold', Helvetica, sans-serif;
  width: 180px;
  height: 40px;
  border: none;
  color: white;
  background-color: #14a2db;
}

.btn-facebook {
  border: none !important;
}

.btn-facebook i {
  top: 1px !important; /* canceling out positioning due to removing border */
  color: #fff;
  border: none;
}

.input-group button:active {
  opacity: 0.9;
  outline: none;
}

/* =Footer
-------------------------------------------------------------- */

footer {
  padding-bottom: 40px;
}



@media only screen and (max-width: 1400px) {
  
  .message {
    padding: 40px 30px 0 30px;
  }

  .first-message {
    font-size: 20px;
  }

  .icons {
    padding-top: 30px;
  }

  .icons .icon-1,
  .icons .icon-2,
  .icons .icon-3,
  .icons .icon-4,
  .icons .icon-5 {
    vertical-align: top;
    width: 19%;
    text-align: center;
  }

  .icons .icon-1,
  .icons .icon-2,
  .icons .icon-3,
  .icons .icon-4 {
    margin-right: 0;
  }

  .email-section {
    padding: 30px 20px 0 20px;
  }
  .email-section .input-group {
    padding: 30px 0 35px 0;
  }

}

/* =Tablet
------------------------------------------------------------ */
@media only screen and (max-width: 800px) {
  
  .message {
    padding: 50px 30px 0 30px;
  }

  .first-message {
    font-size: 22px;
  }

  .icons {
    padding-top: 60px;
    width: 90%;
    min-width: 0px;
  }

  .icons .icon-1,
  .icons .icon-2,
  .icons .icon-3,
  .icons .icon-4,
  .icons .icon-5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }

  .icons .icon-1,
  .icons .icon-2,
  .icons .icon-3,
  .icons .icon-4 {
    padding-bottom: 40px;
  }
  
  .email-section {
    padding: 50px 20px 0 20px;
  }
  .email-section .input-group {
    padding: 50px 0 35px 0;
  }



}

/* =Mobile
------------------------------------------------------------ */
@media only screen and (max-width: 400px) {
  
  .email-section .input-group {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .input-group input {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  .input-group button {
    width: 100%;
  }


  
}

