<section id="index">
  <div class="background-image"></div>
  <div class="overlay"></div>

  <div class="icons-toggle">
    <a> toggle icons </a>
  </div>
  
  <div class="up">
    <a> up </a>
  </div>
  <div class="down">
    <a> down </a>
  </div>
  
  <div class="size">
  </div>

  
  <div class="message">
    <span class="first-message">Connecting You With Your Luggage</span>
  </div>

  <div class="icons">
    <div class="icon-1">
      <img src="images/locate_website_location_tracking.png">
      <div class="icon-text">
        <span class="icon-title">Location Tracking</span>
        <span class="icon-description">Pinpoint the location of your luggage at the push of a button</span>
      </div>
    </div>
    <div class="icon-2">
      <img src="images/locate_website_security_updates.png">
      <div class="icon-text">
        <span class="icon-title">Security Updates</span>
        <span class="icon-description">Instantly know if and how your luggage has been unlocked or any tampering has occurred</span>
      </div>
    </div>
    <div class="icon-3">
      <img src="images/locate_website_tempering_alerts.png">
      <div class="icon-text">
        <span class="icon-title">Tampering Alerts</span>
        <span class="icon-description">Become notified of any potential unauthorized access to our luggage</span>
      </div>
    </div>
    <div class="icon-4">
      <img src="images/locate_website_different_modes.png">
      <div class="icon-text">
        <span class="icon-title">Different Modes</span>
        <span class="icon-description">Automatically switch between online, airplane and sleep mode</span>
      </div>
    </div>
    <div class="icon-5">
      <img src="images/locate_website_premium_service.png">
      <div class="icon-text">
        <span class="icon-title">Premium Services</span>
        <span class="icon-description">A premium reuniting and SMS service will be made available to premium users</span>
      </div>
    </div>
  </div>

  <div class="email-section">
    <span>Learn more by gaining early access</span>
    <div class="email-form">
      <form action="#">
        <div class="input-group">
           <input name="email" id="email" type="email" placeholder="Your Email" required>
           <button type="submit">Get Early Access</button>
        </div>
      </form>
    </div>
    <span>We will only email you once! Maybe twice ;)</span>
  </div>

  <div class="message">
    <span>In the meantime, check out real lost luggage horror stories on  
      <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/pages/Dude-Wheres-My-Luggage/727347360693171?fref=ts">
        <i class="fa fa-facebook"></i>
      </a>
    </span>
  </div>


  <!-- <div id="circle">
    <div class="circle one">
      <div class="circle two">
        <div class="circle three">
        </div>
      </div>
    </div>
  </div> -->
</section>
