<section id="index">
  <div class="background-image"></div>
  <div class="switch">
    <a onclick="switchBackground()"> switch </a>
  </div>

  
  <div class="message">
    <span>Want to track your luggage while on the move? Anywhere? In real time?</span>
  </div>

  <div class="icons">
    <img class="icon-1">
    <img class="icon-2">
    <img class="icon-3">
    <img class="icon-4">
    <img class="icon-5">
  </div>

  <div class="email-section">
    <span>Learn more by gaining early access</span>
    <div class="email-form">
      <form action="#">
        <div class="input-group">
           <input name="email" id="email" type="email" placeholder="Your Email" required>
           <button type="submit">Get early access</button>
        </div>
      </form>
    </div>
    <span>We will only email you once! Maybe twice ;)</span>
  </div>

  <div class="message">
    <span>In the meantime, check out real lost luggage horror stories on <a href="/"><img src=""></a>
    </span>
  </div>

  <!-- <div id="circle">
    <div class="circle one">
      <div class="circle two">
        <div class="circle three">
        </div>
      </div>
    </div>
  </div> -->
</section>
