<!DOCTYPE html>
<html lang="en">
  <head>
    <title>locate</title>
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="3 days" name="revisit-after">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    <link href="/styles/main.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img class="logo-img" src="/images/locate_logo_final_white2.png">
        </a>
      </div>
    </header>


    <%- body %>

    <!-- Footer-->
    <footer></footer>
    <!-- build:js /scripts/main.js-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/main.js"></script>
    <!-- endbuild-->
  </body>
</html>
