<!DOCTYPE html>
<html lang="en">
  <head>
    <title>locate</title>
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="3 days" name="revisit-after">
    <link href="/styles/main.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>LoCaTE</h1>
    </header>
   <section id="top"></section>


    <%- body %>

    <!-- Footer-->
    <footer></footer>
    <!-- build:js /scripts/main.js-->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/scripts/main.js"></script>
    <!-- endbuild-->
  </body>
</html>
